body {
  margin: 0;
  height: 100%;
  background-color: #E74C3C;
}

#inroContainer {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#introText {
  color: white;
  text-align: center;
  border-left: 20px solid white;
  padding: 5em;
}

#introText h1,
#introText h2,
#projectsContainer h1 {
  font-family: 'Roboto';
}

#introText h1 {
  letter-spacing: 10px;
  font-size: 5em;
}

#introText h2 {
  margin-top: 5px;
  letter-spacing: 5px;
  font-size: 2em;
}

#contactBar a {
  text-decoration: none;
  color: white;
}

#contactBar i {
  font-size: 3em;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(.17,.67,.83,.67);
}

#contactBar i:hover,
#arrowDown i:hover {
  transform: scale(1.04);
  color: #3cd7e7;
}

#arrowDown {
  position: absolute;
  bottom: 30px;
}

#arrowDown i {
  font-size: 5em;
  color: white;
  transition: 0.3s cubic-bezier(.17,.67,.83,.67);
  cursor: pointer;
}

#projectsContainer {
  background-color: white;
  width: 100%;
  height: 100%;
}

#projectsContainer h1 {
  text-align: center;
  padding-top: 1.5em;
  opacity: 0.7;
}
