:root {
    --main-color: #247BA0;
    --secondary-color: #FF1654;
    --third-color: #3ce7a2;
    --fourth-color: #e73c81;
}


body {
  margin: 0;
  height: 100%;
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}

#inroContainer {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#introText {
  color: #E0E0E0;
  text-align: center;
  border-left: 13px solid white;
  padding: 4em;
}

#introText h1,
#introText h2,
#projectsContainer h1 {
  font-family: 'Roboto';
}

#introText h1 {
  letter-spacing: 10px;
  font-size: 3.5em;
  margin: 0;
}

#introText h2 {
  letter-spacing: 5px;
  font-size: 2em;
  padding-top: 5px;
}

#contactBar {
  padding-top: 5px;
}

#contactBar a {
  text-decoration: none;
  color: #E0E0E0;
}

#contactBar i {
  font-size: 3em;
  padding: 3px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(.17,.67,.83,.67);
}

#contactBar i:hover,
#arrowDown i:hover {
  transform: scale(1.04);
  transform-origin: center;
  color: var(--third-color);
}

#arrowDown {
  position: absolute;
  bottom: 10px;
}

#arrowDown i {
  font-size: 5em;
  color: white;
  transition: 0.3s cubic-bezier(.17,.67,.83,.67);
  cursor: pointer;
}

#projectsContainer {
  background-color: white;
  width: 100%;
  height: 100%;
}

#projectsContainer h1 {
  text-align: center;
  padding-top: 1.5em;
  opacity: 0.7;
}

#projectGridContainer {
  padding-top: 1.5em;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 95%;
  margin: auto;
}

.projectGridItem {
  width: 100%;
  height: 30em;
  margin: auto;
  display: grid;
  grid-template-rows: 88% 12%;
  border-radius: 2px;
  border: 1px solid #C0C0C0;
  transition: 0.3s cubic-bezier(.17,.67,.83,.67);
  cursor: pointer;
}

.projectGridItem:hover {
  border: 1px solid #707070;
}

.projectImageBackground {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectTitle {
}

.projectTitle h2 {
  text-align: center;
  font-family: 'Lato';
  color: #303030;
  opacity: 0.85;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 19px;
}

.projectImage {
  background-color: gray;
  width: 90%;
  height: 90%;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #D0D0D0;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 93%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 95%;
}

.topBar {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 95% 5%;
}

.topBar h1, .topBar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.topBar h1 {
  color: white;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: 1.5px;
  font-size: 1em;
}

.bottomBar {
  height: 100%;
  overflow-y: scroll;
}

.contentContainer {
  background-color: #E0E0E0;
  margin: 1em;
  padding: 1em;
  /* height: 100%; */
  border-radius: 10px;
  /* border: 1px solid #D0D0D0; */
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2.5em;
}

#hackSeaImg1 {
  height: 486px;
}

#hackSeaImg2 {
  height: 486px;
}

#hackSeaImg3 {
  height: 486px;
}

.projImageBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.projImg {
  width: 98%;
  height: 98%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
  font-size: 12px;
  /* grid-gap: 12px; */
}

.visitSiteButton {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.visitSiteButton a {
  color: white;
  text-decoration: none;
  font-family: "Lato";
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.visitGithubButton {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.visitGithubButton a {
  color: white;
  text-decoration: none;
  font-family: "Lato";
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 4px;
  padding: 10px;
}




.visitSiteButton a:hover {
  color:var(--main-color);
  background-color: transparent;
}



.visitGithubButton a:hover {
  color: var(--secondary-color);
  background-color: transparent;
}

.projDesc {
  width: 80%;
  margin: auto;
}

.projDesc h1{
  font-family: 'Roboto';
  font-size: 0.95em;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 33px;
}

}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width : 1024px){
#projectGridContainer {
  grid-template-columns: 1fr;
}
#introText {
  border-left: none;
}

#projectTitle h2 {
  font-size: 15px;
}
}
