@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

:root {
  --main-color: #247BA0;
  --secondary-color: #FF1654;
  --third-color: #8E44AD;
  --fourth-color: #e73c81;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
