@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

:root {
  --main-color: #222431;
  --secondary-color: #e187d5;
  --third-color: #8c9ec9;
  --fourth-color: #608cac;
  --fifth-color:  #272C39;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--main-color);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
