#projectsContainer {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  
  #projectsContainer h1 {
    text-align: center;
    padding-top: 1.5em;
    opacity: 0.7;
    font-size: 1.4em;
  }
  
  #projectGridContainer {
    padding-top: 1.5em;
    padding-bottom: 3em;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 4em;
    width: 95%;
    margin: auto;
  }
  
  .projectGridItem {
    width: 100%;
    height: 20em;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.3s cubic-bezier(.17,.67,.83,.67);
    cursor: pointer;
    /* padding-bottom: 30px; */
  }
  
  .projectGridItem:hover {
    border: 1px solid #C0C0C0;
  }
  
  .projectImageBackground {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  
  .projectInformation {
    background-color: #E0E0E0;
    width: 100%;
    height: 90%;
  }
  
  .projectTitle {
    margin-top: 1em;
  }
  
  .projectTitle h2 {
    /* text-align: center; */
    font-family: 'Lato';
    color: #303030;
    opacity: 0.85;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin: 0px;
    margin-left: 24px;
    font-size: 1.1em;
  }
  
  .projectTitle p {
    text-align: left;
    font-family: 'Lato';
    color: #303030;
    opacity: 0.85;
    line-height: 24px;
    font-weight: lighter;
    margin: 0px;
    margin-left: 24px;
    margin-top: 10px;
    margin-right: 24px;
    font-size: 1em;
  }
  
  .projectImage {
    background-color: gray;
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    grid-row-end: span 3;
    border-radius: 4px 0px 0px 4px;
  }
  
  .buttonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-start: 3;
    grid-column-start: 2;
    width: 100%;
    margin: auto;
    font-size: 12px;
    /* grid-gap: 12px; */
  }
  
  .visitSiteButton {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .visitSiteButton a {
    color: white;
    text-decoration: none;
    font-family: "Lato";
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: var(--fourth-color);
    border: 2px solid var(--fourth-color);
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  
  .visitGithubButton {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .visitGithubButton a {
    color: white;
    text-decoration: none;
    font-family: "Lato";
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 4px;
    padding: 10px;
  }
  
  .moreInfoButton {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .moreInfoButton a {
    color: white;
    text-decoration: none;
    font-family: "Lato";
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 4px;
    padding: 10px;
  }
  
  
  
  .visitSiteButton a:hover {
    color:var(--fourth-color);
    background-color: transparent;
  }
  
  
  
  .visitGithubButton a:hover {
    color: var(--secondary-color);
    background-color: transparent;
  }
  
  .moreInfoButton a:hover{
    color: var(--third-color);
    background-color: transparent;
  }