.colorBarContainer {
  display: grid;
  grid-gap: 10px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: 10px;
}

.colorBarItem {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.darkTheme {
    background: #222431;
  }

.lightTheme {
  background: #ffffff;
}

.yellowTheme {
    background: #f9ed69;
}

.redTheme {
    background: #e23e57;
}

.blueTheme {
    background: #3ec1d3;
}

.orangeTheme {
    background: #ff8f56;
}

.greenTheme {
    background: #20716a;
}

.violetTheme {
    background: #5d50c6;
}