@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

:root {
  --main-color: #222431;
  --secondary-color: #272C39;
  --modalThird-color: #39445c;
  --vSite-color: #608cac;
  --vGit-color:  #3c82e7;
  --vMore-color: #e74c3c;
  --textMain-color: #E0E0E0;
  --textProject-color: #E0E0E0;
  --backTop-color : #222431;
  --projBorder-color: rgba(255, 255, 255, 0.075)
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: all 0.5s;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
